<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Contracts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex_row">
    <ion-button routerLink="/addcontract">+</ion-button>
  </div>
  <ion-list>
    <ion-item *ngFor="let contract of contracts">
      <div (click)="delete(contract.id)">-</div>
      <div class="item-note" (click)="navigateTo(contract.id)">
        {{contract.name}}  {{contract.to}}
      </div>
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
